DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456

# Windows can use https://generate-secret.vercel.app/32
AUTH_SECRET=your-secret-key

# Paypal
# https://developer.paypal.com/dashboard
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=

#POST _ Sirve para generar un token de autenticación
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

#GET _ Sirve para verificar el estado de una orden
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders


# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/teslo-shop?schema=public"

#https://console.cloudinary.com
# Este URL es el necesario para colocar las imagenes
CLOUDINARY_URL=